.DS_Store
.pampas/

**/.idea/*
**/target/*

.idea
*.iml
*.class

.project
**/.settings/*

**/*/dependency-reduced-pom.xml

# front dependencies
endpoints/**/node_modules

# production
endpoints/**/dist

endpoints/**/public/
endpoints/**/vendor/
endpoints/**/vendor_modules/
endpoints/**/components_vendor/
endpoints/**/components_eevee/
endpoints/**/app/components_vendor
endpoints/**/lib/server/
endpoints/**/npm-debug.log*
endpoints/**/yarn-error.log*

debug.properties

/dist/

.classpath
.factorypath
.vscode/